<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{% block title %}PLPD{% endblock %}</title>
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="{{ asset("ace/assets/css/bootstrap.css") }}" />
    <link rel="stylesheet" href="{{ asset("ace/assets/css/font-awesome.css") }}" />
    <link rel="stylesheet" href="{{ asset("ace/assets/css/ace-fonts.css") }}" />
    <link rel="stylesheet" href="{{ asset("ace/assets/css/ace.css") }}" />
    <link rel="stylesheet" href="{{ asset("ace/assets/css/ace-rtl.css") }}" />
    <link rel="stylesheet" href="{{ asset("ace/assets/css/bootstrap-datepicker3.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/sweetalert2/dist/sweetalert2.min.css") }}">
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset("ace/assets/js/jquery.js") }}"></script>
    <script src="{{ asset("ace/dist/js/dataTables/jquery.dataTables.min.js") }}"></script>
    <script src="{{ asset("ace/dist/js/dataTables/jquery.dataTables.bootstrap.min.js") }}"></script>
</head>
<body class="no-skin">
<!-- #section:basics/navbar.layout -->
<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <!-- #section:basics/sidebar.mobile.toggle -->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <!-- /section:basics/sidebar.mobile.toggle -->
        <div class="navbar-header pull-left">
            <!-- #section:basics/navbar.layout.brand -->
            <a href="#" class="navbar-brand">
                <small>
                    <i class="fa fa-shield"></i>
                    Paralake Police Department Academy <span class="label label-success">{{ version }}</span>
                </small>
            </a>

            <!-- /section:basics/navbar.layout.brand -->

            <!-- #section:basics/navbar.toggle -->

            <!-- /section:basics/navbar.toggle -->
        </div>

        <!-- #section:basics/navbar.dropdown -->
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue" style="width: auto;">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<span class="user-info">
									<small>Welcome,</small>
									{{ app.user.username }}
								</span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="{{ path("fos_user_security_logout") }}">
                                <i class="ace-icon fa fa-power-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- /section:basics/navbar.user_menu -->
            </ul>
        </div>

        <!-- /section:basics/navbar.dropdown -->
    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>
    <div id="sidebar" class="sidebar responsive ace-save-state">
        <ul class="nav nav-list">
            <li class="">
                <a href="{{ path("dashboard") }}">
                    <i class="menu-icon fa fa-file-o"></i>
                    <span class="menu-text"> My Career </span>
                </a>
                <b class="arrow"></b>
            </li>
            {#{% if app.user.applicantstatus is defined %}#}
            {#{% if app.user.applicantstatus.step > 1 %}#}
            {#<li class="">#}
                {#<a href="{{ path("dashboard") }}">#}
                    {#<i class="menu-icon fa fa-pencil"></i>#}
                    {#<span class="menu-text"> Scenarios </span>#}
                {#</a>#}
                {#<b class="arrow"></b>#}
            {#</li>#}
            {#{% endif %}#}
            {#{% if app.user.applicantstatus.step > 2 %}#}
                {#<li class="">#}
                    {#<a href="{{ path("applicant_patrol_index") }}">#}
                        {#<i class="menu-icon fa fa-car"></i>#}
                        {#<span class="menu-text"> Supervised Patrol </span>#}
                    {#</a>#}
                    {#<b class="arrow"></b>#}
                {#</li>#}
            {#{% endif %}#}
            {#{% endif %}#}
        </ul><!-- /.nav-list -->

        <!-- #section:basics/sidebar.layout.minimize -->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

        <!-- /section:basics/sidebar.layout.minimize -->
    </div>

    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        {% block body %}{% endblock %}
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                <span class="bigger-120">
                    Copyright &copy; 2016 - Paralake Police Department - Developed by <a href="https://perpheads.com/members/riekelt.1306/">Riekelt</a>
                </span>
            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<script src="{{ asset("ace/assets/js/bootstrap.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/elements.scroller.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/elements.colorpicker.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/elements.fileinput.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/elements.typeahead.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/elements.wysiwyg.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/elements.spinner.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/elements.treeview.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/elements.wizard.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/elements.aside.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.ajax-content.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.touch-drag.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.sidebar.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.sidebar-scroll-1.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.submenu-hover.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.widget-box.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.settings.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.settings-rtl.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.settings-skin.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.widget-on-reload.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.searchbox-autocomplete.js") }}"></script>
<script type="text/javascript"> ace.vars['base'] = '..'; </script>
<script src="{{ asset("ace/assets/js/ace/elements.onpage-help.js") }}"></script>
<script src="{{ asset("ace/assets/js/ace/ace.onpage-help.js") }}"></script>
<script src="{{ asset("ace/docs/assets/js/rainbow.js") }}"></script>
<script src="{{ asset("ace/docs/assets/js/language/generic.js") }}"></script>
<script src="{{ asset("ace/docs/assets/js/language/html.js") }}"></script>
<script src="{{ asset("ace/docs/assets/js/language/css.js") }}"></script>
<script src="{{ asset("ace/docs/assets/js/language/javascript.js") }}"></script>
<script src="{{ asset("ace/assets/js/date-time/bootstrap-datepicker.js") }}"></script>
<script src="{{ asset("assets/vendor/sweetalert2/dist/sweetalert2.min.js") }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
